<div class="container content">
    <div class="row jumbotron">
        <h1>Instrumentos Musicales</h1>
        <p>Un instrumento musical es un objeto compuesto por la combinación de uno o más sistemas resonantes y medios para su vibración, construido con el fin de producir sonido en uno o más tonos que puedan ser combinados por un intérprete para producir
            música. Al final, cualquier cosa que produzca sonido armónico puede servir de instrumento musical, pero la expresión se reserva, generalmente, a aquellos objetos que tienen ese propósito específico.</p>
    </div>
    <app-lista-instrumentos></app-lista-instrumentos>
</div>