<div class="card-content">
    <div class="card-img">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fsp.depositphotos.com%2Fstock-photos%2Finstrumentos.html&psig=AOvVaw2EKcXcJm99Qr2r2k4CXYm6&ust=1611802309744000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMin_9KNu-4CFQAAAAAdAAAAABAE" alt="">
        <span>
                <h4>{{instrumento.tipo}}</h4>
            </span>
    </div>
    <div class="card-desc">
        <h3>{{instrumento.tipo}}</h3>
        <p>Viento: saxofón, flauta, clarinete, trompeta, oboe, etc. Cuerda: guitarra, arpa, violín, piano (el piano es de cuerda percutida), etc. Percusión: timbal, tambor, platillos, bombo, etc. Instrumentos eléctricos: bajo eléctrico, guitarra eléctrica,
            theremín, sintetizador, etc.</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>