<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de Instrumentos</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="tipo">Tipo</label>
                                <input type="text" class="form-control" id="tipo" placeholder="Ingresar tipo..." #tipo>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="marca">Marca</label>
                                <input type="text" class="form-control" id="marca" placeholder="Ingresar Marca..." #marca>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success btn-lg" (click)="guardar(tipo.value,marca.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <app-instrumento-compra *ngFor="let i of instrumentos" [instrumento]="i"></app-instrumento-compra>
    </div>
</div>